td {
  background: #00154f;
  color: #f2bc94;
  line-height: 100px;
  text-align: center;
  font-size: 3rem;
}
table {
  margin-left: 30%;
  height: 350px;
  width: 350px;
  margin-top: 6%;
}
body {
  background-color: #f4af1b;
  opacity: 1;
  text-decoration: ;
}
