td {
  width: 175px;
  height: 175px;
  background: #00154f;
  color: #f2bc94;
  line-height: 100px;
  text-align: center;
  font-size: 3rem;
}
table {
  margin-left: 30%;
}
body {
  background-color: #f4af1b;
  opacity: 1;
}
