td {
  width: 175px;
  height: 175px;
  background: #00154f;
  color: #f4af1b;
  line-height: 100px;
  text-align: center;
  font-size: 3rem;
}
table {
  margin-top: 3%;
  margin-left: 30%;
}
body {
  background-color: white;
  background-color: rgba(0, 0, 0, 0.4);
}
#myform {
  border: black solid 1px;
  width: 40%;
  height: 40%;
  margin-top: 10%;
  margin-left: 30%;
  border-radius: 5%;
}
