td {
  width: 175px;
  height: 175px;
  background: #00154f;
  color: #f2bc94;
  line-height: 100px;
  text-align: center;
  font-size: 3rem;
}
table {
  margin-top: 3%;
  margin-left: 30%;
}
body {
  background-color: #f4af1b;
  opacity: 1;
}
#myform {
  border-style: outset;
  border: black solid 3px;
  width: 500px;
  height: 450px;
  margin-left: 30;
  border-radius: 10%;
}
